*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --clr-primary: hsl(215, 28%, 17%);
  --clr-accent: hsl(217, 91%, 59%);
  --clr-neutral-100: hsl(90, 17%, 98%);
  --clr-neutral-200: hsl(220, 13%, 91%);

  --fs-200: 18px;
  --fs-400: 24px;
  --fs-500: 36px;
  --fs-600: 48px;

  --content-padding: 24rem;
  --spacer-xs: 0.5rem;
  --spacer-s: 1rem;
  --spacer-m: 2rem;
  --spacer-l: 4rem;
  --spacer-xl: 8rem;

  --article-size: 12rem;
}

body {
  background-color: var(--clr-primary);
  font-family: "Roboto", sans-serif;
  color: var(--clr-neutral-100);
  font-size: calc(18rem / 16);
}

.btn {
  display: inline-block;
  padding: var(--spacer-xs) var(--spacer-m);
  text-decoration: none;
  color: inherit;
  border-radius: 8px;
  font-weight: 900;
}

.header {
  padding: 0 var(--content-padding);
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-size: 24px;
  font-weight: 900;
}

.header__items {
  display: flex;
  gap: var(--spacer-s);
}

.hero {
  padding: var(--spacer-xl) var(--content-padding);
  display: flex;
  justify-content: center;
  gap: var(--spacer-l);
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacer-xs);
}

.hero__text > h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero__description {
  color: var(--clr-neutral-200);
}

.hero__btn {
  background-color: var(--clr-accent);
}

.hero__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100vw - var(--spacer-m) - 2 * var(--content-padding)) / 2);
  height: 256px;
  background-color: hsl(0, 0%, 48%);
  flex-shrink: 0;
}

.other-articles {
  background-color: var(--clr-neutral-100);
  padding: 0 var(--content-padding) var(--spacer-xl);
  color: var(--clr-primary);
}

.articles__heading {
  height: var(--spacer-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 900;
}

.articles {
  display: flex;
  justify-content: center;
  gap: var(--spacer-l);
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__image {
  width: var(--article-size);
  height: var(--article-size);
  border: 4px solid var(--clr-accent);
  border-radius: 16px;
  margin-bottom: var(--spacer-xs);
}

.article__description {
  width: var(--article-size);
}

.quote {
  background-color: var(--clr-neutral-200);
  padding: var(--spacer-xl) calc(1.25 * var(--content-padding));
  color: var(--clr-primary);
  display: flex;
  flex-direction: column;
  align-items: end;
}

.quote__content {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote__author {
  font-weight: 900;
  margin-right: 2rem;
}

.signup {
  background-color: var(--clr-neutral-100);
  padding: var(--spacer-xl) var(--content-padding);
}

.signup__banner {
  background-color: var(--clr-accent);
  padding: var(--spacer-m) var(--spacer-xl);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup__title {
  font-size: 24px;
  font-weight: 900;
}

.signup__btn {
  border: 2px solid var(--clr-neutral-100);
}

.footer {
  padding: var(--spacer-xs) var(--content-padding);
  display: flex;
  justify-content: center;
}
